<!doctype html>
<html>
    <head>
        <title>X-Cutioner's Song</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" rel="text/javascript"/>

        <link href="content/app.css" rel="stylesheet"/>

        <script src="https://code.jquery.com/jquery-1.10.2.js" type="application/javascript"></script> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script> 

        <script src="http://code.angularjs.org/1.0.3/angular-sanitize.js"></script>
 
        <script src="scripts/app.js" type="application/javascript"></script> 

        <script src="scripts/MainController.js" type="application/javascript"></script> 

    </head>
    
    <body onload="onLoad()" ng-app="angularApp">


        <div ng-controller="MainController">

            <header class="container-fluid"> 
                <h1>X-Cutioner's Song Web Application</h1>
            </header>


            <nav class="container-fluid">
                <ul class="nav navbar-inverse navbar-nav">

                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/X-Men">X-Men</a></li>
                    <li><a href="#contact">Contact</a></li>

                    
                </ul>
            </nav>

            
            <div class="container-fluid">
                <div class="row">

                    <section class="col-sm-6 col-sm-push-3">


                        <!--Time dilation calculation part-->
                        <div class="row">
                            <div class="col-sm-6">
                                <label2>Percentage of c:</label2><input ng-model="percentageofc" type="text">
                                <button ng-click="calculateTimeDilation()">Calculate</button>
                                <p></p>
                                
                                        {{ dilatedTimeMessage1 }}
                                        <input type="text" id="dilatedtimehtml">
                                        {{ dilatedTimeMessage2 }}
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                <p></p>
                            </div>
                        </div>



                        <div class="row">

                            <div class="col-sm-4">
                                <input ng-model="smallnumber" type="text">
                                <p>{{ theMessage }}</p>
                                <button ng-click="checkNumber()">Submit</button>
                            </div>

                            <div class="col-sm-8">
                                
                                <label>FirstName</label><input ng-model="User.firstName" type="text"
                                ng-model-options="{ getterSetter: true }" /></br>

                                <label>LastName</label><input ng-model="User.lastName" type="text"
                                ng-model-options="{ getterSetter: true }" /></br>

                                <label>FullName</label><span ng-bind="User.fullName()"></span>

                            </div>
                        </div>

                        
                        <div class="row">
                                <article ng-repeat="article in Articles">
                                    <h2>{{ article.Title }}</h2>
                                    <div class="col-sm-3">
                                        <img ng-src="{{ article.Image }}" />
                                    </div>
                                    <div class="col-sm-9">
                                        <div ng-bind-html="article.Body"></div>
                                    </div>
                                </article>
                        </div>


                    </section>

                    <aside class="col-sm-3 col-sm-pull-6">
                        <h2 class= "title">Main Characters</h2>
                        <ul>
                            <li><a href="https://en.wikipedia.org/wiki/X-Men">X-Men</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/X-Force">X-Force</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/X-Factor_(comics)">X-Factor</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Mutant_Liberation_Front">Mutant Liberation Front</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Stryfe">Stryfe</a></li>
                        </ul>
                    </aside>

                    
                    <aside class="col-sm-3">
                        <h2>Publication</h2>
                        <ol id="orderedlist">
                            <li>Uncanny X-Men #294</li>
                            <li>X-Factor #84</li>
                            <li>X-Men (vol. 2) #14</li>
                            <li>X-Force #16</li>
                            <li>Uncanny X-Men #295</li>
                            <li>X-Factor #85</li>
                            <li>X-Men (vol. 2) #15</li>
                            <li>X-Force #17</li>
                            <li>Uncanny X-Men #296</li>
                            <li>X-Factor #86</li>
                            <li>X-Men (vol. 2) #16</li>
                            <li>X-Force #18</li>
                            <li>Uncanny X-Men #297 (Epilogue)</li>
                            <li>X-Force #19 (Epilogue)</li>
                            <li>"Stryfe's Strike File"</li>
                        </ol>
                    </aside>
                </div>
            </div>

            <div class="container-fluid">
                <div class "row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">
                        <a name="contact" href="https://twitter.com/painsketch">Contact Me</a>
                        <p></p>
                        <p>Twitter:</p>
                        <p>@Painsketch</p>
                    </div>

                </div>
            </div>


            <footer class="container-fluid">
                ISBN 0-7851-0025-3

                <p>{{ timestamp }}</p>
    
            </footer>
        </div>

    </body>
</html>